.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  color: #2c3e50;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.spinner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.light-theme {
  background-color: whitesmoke;
}

.dark-theme {
  background-color: #2c3e50;
  color: #fff;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.nav-bar h3 {
  font-size: x-large;
  cursor: pointer;
  line-height: 0.5;
  font-family: "Pacifico", cursive;
  margin-left: 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.p-margin {
  margin-right: 2rem;
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 1px solid #252525;
}

.nav-light {
  background-color: white;
}

.nav-dark {
  background-color: #2c3e50;
  color: #fff;
}

.nav-dark h3 {
  margin-left: 2rem;
  font-size: x-large;
  cursor: pointer;
  line-height: 0.5;
  font-family: "Pacifico", cursive;
  color: #fff;
}

.dashboard {
  gap: 2rem;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.light-mode {
  background-color: white;
}

.dark-mode {
  background-color: #2c3e50;
  color: #fff;
}

.dashboard-child-div {
  border-radius: 12px;
  text-align: center;
  width: 15rem;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid gainsboro;
  transition: all 200ms ease-in-out;
}

.dashboard-child-div h4 {
  line-height: 0;
}

.card {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.global-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.parent-div {
  margin: 5rem 2rem 1rem 2rem;
}

.parent-div h1 {
  text-align: left;
  padding: 0.5rem;
  color: darkcyan;
}

.exercise-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 12px;
  width: 13rem;
  margin: 0.5rem 0.5rem 0rem 0rem;
  padding: 1rem;
  gap: 0.5rem;
  border: 1px solid gainsboro;
  transition: all 150ms ease-in-out;
}

.exercise-div span {
  font-size: 14px;
}

.exercise-div:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.exercise-input-div {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 1rem;
  padding: 0.5rem;
}

.exercise-input-div input {
  padding: 0.5rem;
  border-radius: 12px;
  border: 0.5px solid gray;
  background: gainsboro;
  color: #252525;
}

.exercise-input-div input:focus {
  outline: none;
}

.exercise-input-div button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  font-size: 12px;
  background-color: darkcyan;
  transition: all 200ms ease-in-out;
  width: 5.5rem;
}

.exercise-input-div button:hover {
  box-shadow: inset 0em 0em 0em 50em rgba(0, 0, 0, 0.3);
}

.goal-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 12px;
  width: 17rem;
  margin: 0.5rem 0.5rem 0rem 0rem;
  padding: 1rem;
  gap: 0.5rem;
  border: 1px solid gainsboro;
  transition: all 150ms ease-in-out;
  overflow: hidden;
}

.goal-div span {
  font-size: 14px;
}

.goal-div:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.goal-div p {
  margin-top: 0;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 3em;
  line-height: 1.5em;
}

.food-input-div select {
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
  background: gainsboro;
  color: #252525;
  outline: none;
}

.exercise-div p {
  margin-top: 0;
}

.food-input-div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.food-input-div input {
  padding: 0.5rem;
  border: 0.5px solid gray;
  border-radius: 12px;
  outline: none;
  background: gainsboro;
  color: #252525;
}

.food-input-div button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  font-size: 12px;
  background-color: darkcyan;
  transition: all 200ms ease-in-out;
  width: 5.5rem;
}

.food-input-div button:hover {
  box-shadow: inset 0em 0em 0em 50em rgba(0, 0, 0, 0.3);
}

.delete-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.deleted-icon {
  font-size: small;
}

.deleted-icon:hover {
  transition: all 200ms ease-in-out;
  color: crimson;
  cursor: pointer;
}

.nothing {
  color: grey;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-heading {
  font-size: 45px;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, #ff8c40, #00a8a0, #f26870);
  background-size: 300% auto;
  animation: gradientAnimation 7s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes gradientAnimation {
  100% {
    background-position: 0%;
  }
  50% {
    background-position: 70%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    gap: 1rem;
  }

  .dashboard {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .dashboard-child-div {
    margin: 0;
    padding: 1rem;
  }

  .dashboard-child-div h4 {
    font-size: 18px;
  }

  .landing-heading {
    font-size: 32px;
  }

  .nav-bar {
    gap: 1rem;
    z-index: 1;
  }

  .nav-bar h3 {
    line-height: normal;
    margin: 0 0 0 1rem;
  }

  .p-margin {
    margin-right: 1rem;
  }

  .dashboard-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .nav-bar {
    font-size: xx-large;
  }

  .nav-bar h3 {
    line-height: normal;
    font-size: xx-large;
  }

  .landing-heading {
    font-size: 84px;
  }

  .dashboard-child-div h4 {
    font-size: x-large;
    line-height: normal;
  }

  .dashboard-child-div span {
    font-size: x-large;
  }
}
